@model sssHMS.Models.Status
@{
    ViewData["Title"] = "Create";
    var title = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@title Create</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input hidden name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="StatusName" class="control-label"></label>
            <input asp-for="StatusName" class="form-control" autofocus="autofocus" />
            <span asp-validation-for="StatusName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-primary" href="@ViewBag.returnUrl">Back To List</a>
        </div>
    </div>





</form>





