@model sssHMS.Models.HospitalInfo
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <style>
        label {
            display: block;
            text-align: left;
            font-weight: bold;
        }
    </style>
}


<h3>Detail Hospital Info</h3>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input hidden asp-for="HospitalId" />
    <input hidden name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="row">
        <div class="form-group col-8">
            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div><label asp-for="HospitalName" class="control-label">Name&CODE</label></div>
                </div>
                <div class="col-4">
                    <div>
                        <input readonly asp-for="HospitalName" class="form-control" />
                        
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <input readonly asp-for="HospitalCode" class="form-control" />
                        
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="HospitalAddress" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <textarea readonly id="txtArea" asp-for="HospitalAddress" class="form-control"></textarea>
                        
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div><label asp-for="HospitalPhoneNo1"></label></div>
                </div>
                <div class="col-4">
                    <div>
                        <input readonly id="txtPh1" asp-for="HospitalPhoneNo1" class="form-control" />
                        
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <input readonly asp-for="HospitalPhoneNo2" class="form-control" />
                        
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-4 offset-4">
                    <div>
                        <input readonly asp-for="HospitalPhoneNo3" class="form-control" />
                         
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <input readonly asp-for="HospitalPhoneNo4" class="form-control" />
                        
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="HospitalEmail" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <input readonly asp-for="HospitalEmail" class="form-control" />
                        
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="HospitalWebsite" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <input readonly asp-for="HospitalWebsite" class="form-control" />
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="HospitalImage" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <input readonly name="files" type="file" multiple class="form-control" />
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div>
                <img src="@Model.HospitalImage" style="width:120px; height:120px; border:1px solid #bbb9b9; border-radius:60px;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="form-group col-md-5 offset-4">                    
                    <a class="btn btn-secondary" href="@ViewBag.returnUrl">Back To Main</a>
                </div>
            </div>
        </div>
    </div>


</form>
