@model sssHMS.Models.sssHMSInfo
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    <style>
        label {
            display: block;
            text-align: left;
            font-weight: bold;
        }
    </style>
}


<h3>Create sssHMS Info</h3>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <input hidden asp-for="sssHMSId" />
    <input hidden name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="row">
        <div class="form-group col-8">
            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div><label asp-for="sssHMSName" class="control-label">Name&CODE</label></div>
                </div>
                <div class="col-4">
                    <div>
                        <input asp-for="sssHMSName" class="form-control" />
                        <span asp-validation-for="sssHMSName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <input asp-for="sssHMSCode" class="form-control" />
                        <span asp-validation-for="sssHMSCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="sssHMSAddress" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <textarea id="txtArea" asp-for="sssHMSAddress" class="form-control"></textarea>
                        <span asp-validation-for="sssHMSAddress" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div><label asp-for="sssHMSPhoneNo1"></label></div>
                </div>
                <div class="col-4">
                    <div>
                        <input id="txtPh1" asp-for="sssHMSPhoneNo1" class="form-control" />
                        <span asp-validation-for="sssHMSPhoneNo1" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <input asp-for="sssHMSPhoneNo2" class="form-control" />
                        <span asp-validation-for="sssHMSPhoneNo2" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-4 offset-4">
                    <div>
                        <input asp-for="sssHMSPhoneNo3" class="form-control" />
                        <span asp-validation-for="sssHMSPhoneNo3" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <input asp-for="sssHMSPhoneNo4" class="form-control" />
                        <span asp-validation-for="sssHMSPhoneNo4" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="sssHMSEmail" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <input asp-for="sssHMSEmail" class="form-control" />
                        <span asp-validation-for="sssHMSEmail" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="sssHMSWebsite" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <input asp-for="sssHMSWebsite" class="form-control" />
                        <span asp-validation-for="sssHMSWebsite" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2 offset-2">
                    <div>
                        <label asp-for="sssHMSImage" class="control-label"></label>
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        <input name="files" type="file" multiple class="form-control" />
                        <span asp-validation-for="sssHMSWebsite" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 my-3">
            <div>
                <img src="@Model.sssHMSImage" style="width:120px; border-radius:60px; height:120px; border:1px solid #bbb9b9;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="form-group col-md-5 offset-4">
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <a class="btn btn-primary" href="@ViewBag.returnUrl">Back To Main</a>
                </div>
            </div>
        </div>
    </div>


</form>

@section Scripts{ 
<script>
    $(document).ready(function () {
        $("#sssHMSName").focus();
            $("#btnSave").click(function () {
                $("form").submit();
            });
            $("input/*[type='text']*/").on("click", function () {
                $(this).select();
            });
        $('input').on("keypress", function(e) {
            /* ENTER PRESSED*/
            if (e.keyCode == 13) {
                /* FOCUS ELEMENT */
                var inputs = $(this).parents("form").eq(0).find(":input");
                var idx = inputs.index(this);

                if (idx == inputs.length - 1) {
                    inputs[0].select()
                } else {
                    $("#txtArea").on("keypress", function (e) {
                        $("#txtPh1").focus();
                    });
                    inputs[idx + 1].focus(); //  handles submit buttons
                    //inputs[idx + 1].select();
                }
                return false;
            }
        });

            //$("#CountryName").keypress(function (event) {
            //    if (event.keyCode == 13) {
            //        $("#btnSave").focus();
            //    }
            //});
    });
</script>
}