@model sssHMS.Models.Designation
@{
    ViewData["Title"] = "Update";
    var title = "Designation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@title Update</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input hidden asp-for="DesignationID" />
    <input hidden name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group col-md-5">
        <label asp-for="DesignationName" class="control-label"></label>
        <input asp-for="DesignationName" class="form-control" />
        <span asp-validation-for="DesignationName" class="text-danger"></span>
    </div>

    <div class="form-group col-md-3">
        <button type="submit" class="btn btn-success">Update</button>
        @*<input type="submit" class="btn btn-success" value="Update" />*@
        @*<a class="btn btn-primary" onClick="history.go(-1); return false;">Back To List</a>*@
        <a class="btn btn-primary" href="@ViewBag.returnUrl">Back To List</a>
    </div>
</form>

