@model sssHMS.Models.Service
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Service Update</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input hidden name="returnUrl" value="@ViewBag.returnUrl" />
    <input hidden asp-for="ServiceID" />

    <div class="form-group col-md-5">
        <label asp-for="ServiceName" class="control-label"></label>
        <input id="CountryName" asp-for="ServiceName" autocomplete="off" class="form-control" />
        <span asp-validation-for="ServiceName" class="text-danger"></span>
    </div>


    <div class="form-group col-md-5">
        <button type="button" id="btnSave" class="btn btn-success">Save</button>

        <a class="btn btn-primary" href="@ViewBag.returnUrl">Back To Main</a>
    </div>


</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#CountryName").focus();
            $("#btnSave").click(function () {
                $("form").submit();
            });
            $("input[type='text']").on("click", function () {
                $(this).select();
            });
            $("#CountryName").keypress(function (event) {
                if (event.keyCode == 13) {
                    $("#btnSave").focus();
                }
            });
        });
    </script>
}